header {
  font-family: 'Roboto', sans-serif;
  color: #828282;
  font-size: 1.2rem;
  margin: 30px;
}

.headerLine {
  background-color: #fbfbfb;
  width: 100%;
}

.serviceSettingsBar {
  margin: 15px;
}

//Custom Input
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  color: #acaaaa;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border: solid 1px #c9c7c7;
  border-radius: 8px;
  background-color: rgba(245, 245, 245, 0.6);
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: rgba(245, 245, 245, 1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
//End of Custom Input

.multipleChoicesButton {
  background-image: linear-gradient(to left, #0491ed, #0e65d8);
  box-shadow: 0 3px 22px 0 rgba(0, 0, 0, 0.22);
  font-family: 'Lato', sans-serif;
  padding: 8px 23px 8px 26px;
  border-radius: 32px;
  line-height: 1.19;
  font-weight: 900;
  font-size: 14px;
  color: white;
}
//Services Section
.serviceMainContainer{
    margin-top: -60px;
    margin-left: 80px;
}
.serviceColumn {
  margin-top: 80px;
}
.serviceCard { //Service Card
  width: 305px;
  height: 160px;
  border-radius: 32px;
  box-shadow: 0 3px 22px 0 rgba(0, 0, 0, 0.22);
  background-color: #fcfcfc;
  padding-top: 60px;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;

  h1 {
    font-family: Lato;
    font-size: 24px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    color: #4590f3;
    text-align: center;
  }
}
.serviceCard:hover, .serviceCard:active{
    transform: scale(1.1);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}
//Dynamic Alignment (ltr/rtl)
.textAlignRight {
  text-align: right;
}

.textAlignLeft {
  text-align: left;
}
