.pcView {
  display: flex;
}

.mobileView {
  display: none;
}
.red-border-class {
  /*border: 4px solid red !important;*/
  box-shadow: 0 0 15px #C5303F !important;
  -moz-box-shadow: 0 0 15px #C5303F !important;
  -webkit-box-shadow: 0 0 15px #C5303F !important;
}

.alert-danger {
  color: #721c24;
  background-color: transparent;
  border-color: transparent;
  font-size: 11px;
  font-weight: 500;
}

.alert {
  margin-bottom: 0;
  padding: 0;
  padding-top: 10px;
}
#bg {
  img {
    width: 100%;
    height: 100vh;
    object-fit: contain;
    object-position: right;
  }
}

.component {
  position: relative;
}

h2 {
  width: 544px;
  height: 44px;
  font-family: Roboto;
  font-size: 28px;
  text-align: left;
  color: #acaaaa;
}

.component:focus {
  position: relative;
}

.form-control {
  border: 2px solid #f7f7f7;
  height: calc(1.5em + .9rem + 2px);
  width: 270px;
  background-color: #f7f7f7;
  border-radius: 2.25rem;
  padding-left: 45px;
  padding-right: 30px;
  box-shadow: 0 0 10px #acaaaa;
  -moz-box-shadow: 0 0 10px #acaaaa;
  -webkit-box-shadow: 0 0 10px #acaaaa;
}

.fa {
  position: absolute;
  color: #acaaaa;
  top: 11px;
  left: 18px;
  font-size: 20px;
}

.fa-mobile {
  font-size: 24px;
}

input::-webkit-input-placeholder {
  color: #acaaaa;
  font-size: 13px !important;
}

input::-webkit-input-placeholder {
  color: #acaaaa;
  font-size: 13px !important;
}


.fa-eye-slash, .fa-eye {
  top: 11px;
  left: auto;
  right: 10px;
  cursor: pointer;
}

.Inputbutton {


    border: solid 4px #ffffff;
    border-radius: 32px;
  input {
    color: #fff;
    border: none;
    padding-bottom: 10px;
    padding-left: 0 !important;
    height: calc(1.5em + .4rem + 2px);
    background-image: linear-gradient(to right, #1346c6 3%, #0394f0);
  }

  input:hover {
    background-image: linear-gradient(to right, #1346c6cf 3%, #0394ffcc);
  }

  input:focus {
    background-image: linear-gradient(to right, #1346c6cc 3%, #0394ffcc);
  }
}
.socialIcons {
  text-align: center;

  img {
    width: 45px;
    margin: 5px;
    cursor: pointer;
  }
}


@media screen and (max-width: 1024px) {
  .mobileView {
    display: block;
  }

  .pcView {
    display: none !important;
  }

  .user_card {
    top: 26vh;
    position: absolute;
    height: 64vh;
    width: 85vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }

  .brand_logo_container {
    position: absolute;
    bottom: -30px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-image: linear-gradient(to bottom, #195ccf, #5cb5ff);
    padding: 10px;
    text-align: center;
    border: 4px solid white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
  }

  .brand_logo_container:hover {
    background-image: linear-gradient(to bottom, #195ccfcf, #5cb5ffcf);
  }

  #mobileBackground {
    background-image: linear-gradient(to bottom, #4d46ff, #5dc0ff);
    height: 40vh;
  }

  .fa-arrow-right {
    color: #fff;
    bottom: 22px;
    left: 24px;
    top: auto;
    font-size: 24px;
  }

  h3 {
    font-family: 'Questrial', sans-serif;
    color: #fff;
    font-size: 8vw;
    margin-top: .5vh;
  }

  p {
    font-family: 'Questrial', sans-serif;
    color: #fbfbfbcc;
    font-size: 5vw;
  }

  .socialIcons {
    bottom: 1vh;
    position: absolute;
    text-align: center;
    left: 10vw;
    right: 10vw;


    img {
      width: 16vw;
    }
  }

  .form-control {
    height: calc(1.5em + 1.4rem + 2px);
    width: 80vw;
    background-color: #fff;
    border-radius: 2.25rem;
    padding-left: 45px;
    box-shadow: none;
    -moz-box-shadow: none;
    /* -webkit-box-shadow: 0 0 10px #acaaaa; */
    border: solid 1px rgba(112, 112, 112, 0.2);
  }

  .container {
    color: #1756cd;
    font-size: 13px;
    font-weight: 500;
    margin-left: 17px !important;
  }

  .checkmark {
    height: 20px;
    width: 20px;
    margin-left: -7px !important;
  }

  .container .checkmark:after {
    width: 7px;
    height: 10px;
  }

  .active {
    position: absolute;
    top: 26px;

    left: 103px;
    width: auto;
    color: #526cff;
    border-bottom: 4px solid #526cff;
  }

  h2 {
    position: absolute;
    top: 26px;
    left: 20px;
    width: auto;
  }

  .fa-eye, .fa-eye-slash {
    top: 14px;
    left: auto;
    right: -15px;
  }
}

  
