<!--Bootstrap Navigation Component-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!--Brand-->
  <a class="navbar-brand" routerLink="/home">Layout-Template</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 mx-4">
      <input class="form-control mr-sm-2" type="search"  aria-label="Search">
      <!--<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>-->
      <i class="fa fa-search" aria-hidden="true"></i>

    </form>
    <ul class="navbar-nav align-items-center">
      <li class="nav-item">
        <i class="fa fa-bell-o fa-lg mx-2" aria-hidden="true"></i>

      </li>
      <li class="nav-item">
        <i class="fa fa-cog fa-lg mx-2" aria-hidden="true"></i>

        <!--<a class="nav-link disabled" routerLink="/about-us">Link</a>-->
      </li>
      <li class="nav-item  mr-5 initials">
        <a class="nav-link" > {{initials }}</a>
      </li>
    </ul>
  </div>
</nav>
