.bg-dark {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.35);
  background-image: linear-gradient(to left, #0491ed, #0e64d8);
  z-index: 99999999;
  height: 10vh;
}
.nav-item{
    color:#fff;
    cursor:pointer;
}
form {
  position: relative;

  input {
    padding-left: 34px;
    color:#fff;
  }
}
.form-control {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50px;
  height: calc(1.5em + .45rem + 2px);
}
.fa-search{
    position:absolute;
  color:#fff;
  left:10px;
}
.initials {
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  width: 30px;
  height: 30px;

  .nav-link {
    color: #0b71de !important;
    font-size: 12px;
    font-weight:500;
  }
}
