<div class="row servicesLocation" *ngIf="!isMobile">
  <div class="col-lg-8 detailsSectionPC"> <!--Details List (PC)-->
    <div class="container-fluid">
      <h1>BOLT SALON Locations</h1>
      <div class="searchContainer">
        <p>{{langVar.searchTitle}}</p>
        <div class="form-group">
          <input type="text" [(ngModel)]="searchWords" class="form-control" (input)="SearchService()" id="locationSearchBar" placeholder="{{langVar.searchBarTitle}}">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <div class="resultsSection" (searchcriteria)="MatchString($event)"> <!--Results Section-->
          <div class="itemContainer mt-5" *ngFor="let service of servicesList; let i = index" (click)="ViewStoreMap(service)">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <!--Store Details-->
                  <h1 class="serviceHeader">{{i+1}}-<span>{{service.name}}</span></h1>
                </div>
                <div class="col-6">
                  <!--Calculated Distance-->
                  <h1 class="distance">{{service.distance}} KM</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="storeAvailabilityInfo">Opens {{service.availability}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="storeAddressInfo">{{service.address}}</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mapsSectionPC">
    <div #map class="googleMapsStyle"></div>
    <!--<agm-map [latitude]="selectedService.latitude" [longitude]="selectedService.longitude" [zoom]="zoom">
      <agm-marker [latitude]="selectedService.latitude" [longitude]="selectedService.longitude" [markerDraggable]="true"></agm-marker>
    </agm-map>-->
    <!--<agm-map [latitude]="currentLatitude" [longitude]="currentLongitude" [zoom]="zoom">

    <agm-marker [latitude]="currentLatitude" [longitude]="currentLongitude" [markerDraggable]="true"></agm-marker>

  </agm-map>-->
  </div>
</div>

<!--Mobile View-->
<div class="row servicesLocation" *ngIf="isMobile">
  <div class="container-fluid">
    <h1 style="color: #828282; font-weight: normal;">{{servicesList[0].name}} Locations</h1>
    <hr />
    <div class="searchContainer">
      <p style="color: #4590f3;" class="searchTitle">{{langVar.searchTitle}}</p>
      <div class="form-group">
        <input [(ngModel)]="searchWords" type="text" class="form-control" (input)="SearchService()" id="locationSearchBar" placeholder="{{langVar.searchBarTitle}}">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>

      <div class="resultsSection" (searchcriteria)="MatchString($event)">
        <!--Results Section-->
        <div class="itemContainer" *ngFor="let service of servicesList; let i = index" (click)="ViewStoreMap(service)">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <!--Store Details-->
                <h1 >{{i+1}}- {{service.name}}</h1>
              </div>
              <div class="col-6">
                <!--Calculated Distance-->
                <h1 class="distance">{{service.distance}} KM</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="storeAvailabilityInfo">Opens {{service.availability}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="storeAddressInfo">{{service.address}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-center">
                <p class="viewButton" *ngIf="selectedserviceMap != service.id" style="color: #4590f3;" (click)="ViewStoreMapResponsive(service)">View In Map <i class="fas fa-arrow-alt-circle-down"></i></p>
                <p class="viewButton" *ngIf="selectedserviceMap == service.id" style="color: #4590f3;" (click)="ViewLess(service.id)">View Less<i class="fas fa-arrow-alt-circle-up"></i></p>
                <div class="mapView" id="map{{service.id}}" *ngIf="selectedserviceMap == service.id">
                  <agm-map [latitude]="service.latitude" [longitude]="service.longitude" [zoom]="15"  class="googleMapsStyle">
                    <agm-marker [latitude]="service.latitude" [longitude]="service.longitude"></agm-marker>
                  </agm-map>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
